<!DOCTYPE HTML>
<HTML LANG="en">
<HEAD>
    <TITLE>HBNB</TITLE>
    <LINK REL="stylesheet" HREF="https://unpkg.com/normalize.css/8.0.1/normalize.css">
    <LINK REL="stylesheet" HREF="/static/styles/3-header.css">
    <LINK REL="stylesheet" HREF="/static/styles/4-common.css">
    <LINK REL="stylesheet" HREF="/static/styles/6-filters.css">
    <LINK REL="stylesheet" HREF="/static/styles/8-places.css">
</HEAD>
<BODY>
    <HEADER>
        <NAV CLASS="nav">
            <DIV CLASS="container">
                <DIV CLASS="nav__logo">
                    <A HREF="/">
                        <IMG SRC="/static/images/logo.png" ALT="AirBnB_logo" CLASS="nav__logo-image">
                    </A>
                </DIV>
            </DIV>
        </NAV>
    </HEADER>
    <SECTION CLASS="content">
        <DIV CLASS="container">
            <H1 CLASS="filters">Places</H1>
            <DIV CLASS="places">
                <DIV CLASS="places__filter">
                    <H2 CLASS="places__subtitle">States</H2>
                    <DIV CLASS="places__h4">&nbsp;</DIV>
                    <UL CLASS="places__options">
                        {% for state in states %}
                        <LI>{{ state.name }}</LI>
                        {% endfor %}
                    </UL>
                </DIV>
                <DIV CLASS="places__filter">
                    <H2 CLASS="places__subtitle">Cities</H2>
                    <DIV CLASS="places__h4">&nbsp;</DIV>
                    <UL CLASS="places__options">
                        {% for city in cities %}
                        <LI>{{ city.name }}</LI>
                        {% endfor %}
                    </UL>
                </DIV>
                <DIV CLASS="places__filter">
                    <H2 CLASS="places__subtitle">Amenities</H2>
                    <DIV CLASS="places__h4">&nbsp;</DIV>
                    <UL CLASS="places__options">
                        {% for amenity in amenities %}
                        <LI>{{ amenity.name }}</LI>
                        {% endfor %}
                    </UL>
                </DIV>
            </DIV>
            <DIV CLASS="places">
                {% for place in places %}
                <ARTICLE CLASS="place-card">
                    <DIV CLASS="place-card__image">
                        <IMG SRC="{{ place.url }}" ALT="{{ place.name }}">
                    </DIV>
                    <DIV CLASS="place-card__info">
                        <DIV CLASS="place-card__price_by_night">
                            <H2>${{ place.price_by_night }}</H2>
                        </DIV>
                        <H3 CLASS="place-card__name">{{ place.name }}</H3>
                        <DIV CLASS="place-card__details">
                            <DIV CLASS="place-card__max_guest">
                                <I CLASS="fa fa-users fa-3x" ARIA-HIDDEN="true"></I>
                                <BR>
                                {{ place.max_guest }} Guests
                            </DIV>
                            <DIV CLASS="place-card__number_rooms">
                                <I CLASS="fa fa-bed fa-3x" ARIA-HIDDEN="true"></I>
                                <BR>
                                {{ place.number_rooms }} Bedrooms
                            </DIV>
                            <DIV CLASS="place-card__number_bathrooms">
                                <I CLASS="fa fa-bath fa-3x" ARIA-HIDDEN="true"></I>
                                <BR>
                                {{ place.number_bathrooms }} Bathrooms
                            </DIV>
                        </DIV>
                        <DIV CLASS="place-card__description">
                            {{ place.description }}
                        </DIV>
                    </DIV>
                </ARTICLE>
                {% endfor %}
            </DIV>
        </DIV>
    </SECTION>
    <FOOTER CLASS="footer">
        <DIV CLASS="container">
            <DIV CLASS="footer__logo">
                <A HREF="/">
                    <IMG SRC="/static/images/icon.png" ALT="AirBnB_icon" CLASS="footer__logo-image">
                </A>
            </DIV>
        </DIV>
    </FOOTER>
</BODY>
</HTML>
